@model IEnumerable<Movies.Models.Movie>
@{
    ViewBag.Title = "Home Page";
}

<div class="card-panel">
    <h2 class="text-center">Wellcome</h2>
    <div class="row center">
        <div class="col offset-l1 s3">
            <a href="/Movies/Create" class="waves-effect waves-light btn-large">Create movie</a>
        </div>
    </div>
</div>