@{
    ViewBag.Title = "Home Page";
}

<div class="card-panel">
    <h2 class="center">Wellcome</h2>

@section LinkButtons{
    <div class="row center">
        <div class="col offset-l1 s3">
            <a href="/Categories/All" class="waves-effect waves-light btn-large">Categories</a>
        </div>
        <div class="col s4">
            <a href="/Customers/All" class="waves-effect waves-light btn-large">Customers</a>
        </div>
        <div class="col s3">
            <a href="/Administration/Employees/EmployeesDetails" class="waves-effect waves-light btn-large">Administartion Employees</a>
        </div>
    </div>
}
</div>