extends layout
block content
      h1 Phones
      .row
            .col-md-4
                  .panel.panel-info
                        .panel-heading.text-center IPhone
                        .panel-body
                              img(width="300px",src="http://p1.pazaruvaj.com/gallery/43097081/full/8847.apple-iphone-4-16gb.jpg")
            .col-md-4
                  .panel.panel-info
                        .panel-heading.text-center SONY
                        .panel-body
                              img(width="300px",src="http://aksesoaribg.net/image/cache/data/SONY/Sony%20%20Xperia%20M2%20D2305-1-600x600.jpg")
            .col-md-4
                  .panel.panel-info
                        .panel-heading.text-center Samsung
                        .panel-body
                              img(width="300px",src="https://www.ozone.bg/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/a/samsung-smartphone-sm-a300f-galaxy-a3-16gb-gold_2.jpg")