@using Twitter.Web.ViewModels
@{
    ViewBag.Title = "Home Page";
}

<div class="card-panel hoverable">
    <h2 class="center">Wellcom in pseudo Twitter</h2>
    <h3>Login with username: admin and pass: 123456 for access to admin panel. :)</h3>
</div>