<div class="container">
    <h2>{{vm.driver.name}}</h2>
    <div class="row">
        <div class="col-md-3">
            <p>Upcoming trips: <strong>{{vm.driver.numberOfUpcomingTrips}}</strong></p>
        </div>
        <div class="col-md-3">
            <p>Total trips: <strong>{{vm.driver.numberOfTotalTrips}}</strong></p>
        </div>
        <div class="col-md-3">
            <input type="checkbox" ng-model="vm.mine" /> Only mine trips &nbsp;
            <input type="checkbox" ng-model="vm.onlyDriver" ng-change="vm.onOnlyDriverCheckboxChange()" /> Only driver trips
        </div>
        <div class="col-md-3">
            <select class="pull-right" ng-model="vm.sort">
                <option value="" selected="selected">None</option>
                <option value="from">From</option>
                <option value="to">To</option>
                <option value="-departureDate">Departure time</option>
            </select>
        </div>
    </div>
    <div trips />
</div>