body{
	font-family: Arial;
}

#top-heading{
	display: inline-block;
}

img{
	vertical-align: top;
	width: 200px;
	height: 200px;
}

ul{
	font-size: 20px;
	font-weight: bold;
	margin-left: 50px;
}
li{
	margin: 5px;
}

table{
	position: relative;
	top: 20px;
	text-align: center;
	font-size: 20px;
	margin-left: 50px;
	border-collapse: collapse;
}
th, td{
	border: 2px solid black;
	padding: 5px 10px;
}